---
//@ts-nocheck
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
const url = `${import.meta.env.SUPABASE_URL}/rest/v1/pakke`;
const apiKey = import.meta.env.SUPABASE_PUBLISHABLE_KEY;

const options = {
  headers: {
    apikey: apiKey,
  },
};

const response = await fetch(url, options);

  if (!response.ok) {
    throw new Error("Kunne ikke hente produkter fra Supabase");
  }

const data = await response.json();

  return data.map((pakke) => ({
    params: { id: pakke.id.toString() },
    props: { pakke },
  }));
}

const { pakke } = Astro.props;
---

<Layout title={pakke.nummer}>

    <section>
        <div class="grid_pakke">
            <div>
 <h2>{pakke.nummer}</h2>
   <h2>{pakke.navn}</h2>
    <p class="li" set:html={pakke.info}></p>
</div>
<div>
   <img src={pakke.img} alt="pakker">
</div>
</div>
<div class="pakker_cta">
    <p>Læs om de andre pakkeløsninger</p>
    <a href={pakke.id=1}>
    <button>Pakke 1</button></a>
    <a href={pakke.id=2}>
    <button>Pakke 2</button></a>
    <a href={pakke.id=3}>
    <button>Pakke 3</button></a>
</div>
</section>

<div class="line"></div>

 <h2 class="kontaktH2">Kontakt os og få et tilbud</h2>
<p class="kontakttP">Skriv til os gennem formularen og vi vender tilbage snarest muligt for at diskutere mulighederne.</p>

<form id="webform">

<fieldset>

<div class="navnognummer">

  <div class="felt">
    <label for="full_name">Fulde navn</label>
    <input type="text" id="full_name" required>
  </div>

  <div class="felt">
    <label for="vaelg_pakke">Pakke</label>
    <select name="pakker" id="vaelg_pakke">
    <option value="">Vælg en pakke</option>
    <option value="Pakke 1">Pakke 1</option>
    <option value="Pakke 2">Pakke 2</option>
    <option value="Pakke 3">Pakke 3</option>
    </select>
  </div>

</div>

<div class="virksomhed">

<label for="virksomhed_type">Virksomhedsnavn og cvr-nummer (Undlad som privatperson)</label>
    <input type="text" id="virksomhed">

</div>


<div class="email">

     <label for="email">Email</label>
    <input type="email" id="email" required>
    <span class="fejlmeddelse"></span>

</div>

<div class="datooggaester">

      <div class="felt">
    <label for="time_date">Dato & tidspunkt for ankomst</label>
    <input type="date" id="time_date" required>
    <span class="fejlmeddelse"></span>
</div>

<div class="felt">
     <label for="guest_number">Antal gæster</label>
    <input type="text" id="guest_numberr" required>
    <span class="fejlmeddelse"></span>
</div>

</div>

<div class="message">

    <label for="message">Besked</label>
            <textarea name="message" id="message"></textarea>

</div>

<button class="sendbesked">Send besked</button>

</fieldset>

</form>


</Layout>

<style>
    h2{
        color: var(--color-secondary);
    }
.grid_pakke{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 100px;
}
h2:first-of-type{
    margin-bottom: 0px;

}

h2:last-of-type{
    margin-top: 0px;
}




#webform {
  display: flex;
  justify-content: center;
}

fieldset {
  border: none;
  width: 80%;
}

.navnognummer,
.virksomhed,
.email,
.datooggaester,
.message {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
 font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
}

input,
textarea {
  padding: 12px;
  border: solid #2B3461 2px;
  border-radius: 15px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.message textarea {
  height: 150px;
}

.line {
    width: 300px;
    justify-self: center;
  height: 1px;
  background-color: var(--color-secondary);

}


.kontaktH2 {
    padding-top: 5rem;
}

.sendbesked {
    margin-bottom: 4rem;
}

.felt {
  display: flex;
  flex-direction: column;
}

  .book_btn {
    position: fixed;
    top: 30%;
    right: 0;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: right center;
    margin-right: 1rem;
    border-radius: 15px 15px 0 0;
    z-index: 100;
  }


  .kontakttP {
padding: 0;
padding-left: 2rem;
padding-right: 2rem;
text-align: center;
padding-bottom: 2rem;
}

.kontaktH2 {
    text-align: center;
    padding: 0;
    padding-top: 3rem;
}

select {
  padding: 12px;
  border: solid var(--color-secondary) 2px;
  border-radius: 15px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2rem;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  background-color: var(--color-white);
}

.line {
    width: 300px;
    justify-self: center;
  height: 1px;
  background-color: var(--color-secondary);

}

  @media (min-width: 800px){


label {
  margin-bottom: 10px;
  font-size: 1.2rem;
  padding-top: 1rem;
}

input,
textarea, select {
  padding: 12px;
  border: solid var(--color-secondary) 2px;
  border-radius: 30px;
  height: 60px;
}

  .navnognummer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .datooggaester {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

  }

  fieldset {
  border: none;
  width: 60%; }

.sendbesked {
    margin-bottom: 6rem;
}

 .book_btn {
    top: 60%;
    margin-right: 1.5rem;
  }

.line {
width: 1200px;

}

.kontaktH2 {
    padding-top: 5rem;
}

   }
.pakker_cta{
justify-self: center;
text-align: center;
}
.pakker_cta button{
    margin: 0px 20px;
}
.pakker_cta p{
    font-weight: 600;
}


</style>
