---
//@ts-nocheck
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
const url = `${import.meta.env.SUPABASE_URL}/rest/v1/pakke`;
const apiKey = import.meta.env.SUPABASE_PUBLISHABLE_KEY;

const options = {
  headers: {
    apikey: apiKey,
  },
};

const response = await fetch(url, options);

  if (!response.ok) {
    throw new Error("Kunne ikke hente produkter fra Supabase");
  }

const data = await response.json();

  return data.map((pakke) => ({
    params: { id: pakke.id.toString() },
    props: { pakke },
  }));
}

const { pakke } = Astro.props;
---

<Layout title={pakke.nummer}>

    <section>
        <div class="grid_pakke">
            <div>
 <h2>{pakke.nummer}</h2>
   <h2>{pakke.navn}</h2>
    <p class="li" set:html={pakke.info}></p>
</div>
<div>
   <img src={pakke.img} alt="pakker">
</div>
</div>
<div class="pakker_cta">
    <p>Læs om de andre pakkeløsninger</p>
    <a href={pakke.id=1}>
    <button>Pakke 1</button></a>
    <a href={pakke.id=2}>
    <button>Pakke 2</button></a>
    <a href={pakke.id=3}>
    <button>Pakke 3</button></a>
</div>
</section>
   <h2>Kontakt os</h2>

<form class="webform">
<fieldset>
    <label for="name">Fulde navn</label>
    <input class="text" type="text" name="name" id="name" required value="Dit fulde navn">
</fieldset>
<fieldset>
    <label for="pakke">Vælg pakke</label>
    <input type="text" name="pakke" id="pakke" value="Vælge pakke her">
</fieldset>
<fieldset>
    <label for="email">E-mail</label>
    <input type="email" name="email" id="email" required value="Din e-mailadresse">
</fieldset>
<fieldset>
    <label for="date_time">Dato og tidspunkt for ankomst</label>
    <input type="text" name="" id="date_time" value="Dato & tidspunkt">
</fieldset>
<fieldset>
    <label for="gaester">Antal gæster</label>
    <input type="number" name="antal" id="gaester" value="Indtast et tal">
</fieldset>
<fieldset>
    <label for="besked">Besked</label>
    <textarea name="besked" id="besked" rows="6" cols="40" required>Beskriv hvad du/i kunne tænke jer...</textarea>
</fieldset>

<button>Send besked</button>
</form>

</Layout>

<style>
    h2{
        color: var(--color-secondary);
    }
.grid_pakke{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 100px;
}
h2:first-of-type{
    margin-bottom: 0px;

}

h2:last-of-type{
    margin-top: 0px;
}

.pakker_cta{
justify-self: center;
text-align: center;
}
.pakker_cta button{
    margin: 0px 20px;
}
.pakker_cta p{
    font-weight: 600;
}


</style>
